.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 800;
    color: #fff;
    letter-spacing: -1px;
}